SUPABASE_URL=https://fyuoxmavabpjqaxmpdaf.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5dW94bWF2YWJwanFheG1wZGFmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MTQ3MjQ3NSwiZXhwIjoyMDU3MDQ4NDc1fQ.LwLg4IzQUAXgbKWiRs7t74wq3z7_Xqw1ZlUSMU4ja70